node_modules
dist
dist-work
.env
*.log
*.tsbuildinfo
.codex/
.omx/
.claude/
.unclecode/
test-ink*.tsx
src/*.d.ts
src/*.d.ts.map
src/*.js
src/*.js.map
packages/*/src/*.d.ts
packages/*/src/*.d.ts.map
packages/*/src/*.js
packages/*/src/*.js.map
